/* Variables */

:root {
    --basic-black: #323232;
    --basic-gray-extra-dark: #696969;
    --basic-gray-dark: #5a5a5a;
    --basic-gray-normal: #ABABAB;
    --basic-gray-light: #C4C4C4;
    --basic-gray-extra-light: #CACAC7;
    --basic-gray-lightest: #EDEDED;
    --basic-gray-extra-lightest: #F8F7F4;
    --basic-white: #FFFFFF;
    --special-orange: rgba(242, 104, 64, 1);
    --special-red: rgba(231, 74, 53, 1);
    --special-red-dark: #E84D37;
    --special-brown: #D07058;
    --special-green: #849D8F;
    --special-gray: #8996A6;
    --special-brown-dark: #9D8B84;
    --special-white-opacity: rgba(255, 255, 255, 0.2);
    --special-white-spec-opacity: rgba(255, 255, 255, 0);
}


/* Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-width: 1200px;
    font-family: "Roboto", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.site-wrapper {
    background-color: var(--special-green);
    background-image: url(../img/bg-image-1.png);
    background-repeat: no-repeat;
    background-position: top center;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
}

a {
    text-decoration: none;
}


/* Header */

.header-nav {
    min-width: 560px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-logo-link {
    padding-top: 9px;
}

.navigation-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 12px;
}

.navigation-item {
    position: relative;
}

.navigation-item-link {
    display: block;
    height: 31px;
    min-width: 87px;
    border-radius: 20px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 6px;
    color: var(--basic-white);
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.navigation-link-line {
    position: absolute;
    right: 0;
    bottom: 6px;
    width: 100%;
    height: 1px;
    left: 13px;
    background-clip: content-box;
    background-color: var(--special-white-opacity);
    padding-left: 0px;
    padding-right: 26px;
}

.navigation-item-link:hover,
.navigation-item-link:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
    outline: none;
}

.navigation-item-link:active {
    background-color: var(--basic-gray-lightest);
    box-shadow: inset 0px 2px 1px var(--basic-gray-extra-dark);
    border-radius: 26px;
}


/* .navigation-item {
    height: 31px;
    min-width: 87px;
    background-color: var(--special-white-spec-opacity);
    border-radius: 20px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 6px;
}

.navigation-item:hover,
.navigation-item:focus-within,
.navigation-item:hover .navigation-item-link,
.navigation-item:focus-within .navigation-item-link {
    background-color: var(--basic-white);
    color: var(--basic-black);
    outline: none;
}

.navigation-item .navigation-item-link:active {
    background-color: var(--basic-gray-lightest);
}

.navigation-item-link:hover,
.navigation-item-link:focus {
    color: var(--basic-black);
}

.navigation-item-link {
    color: var(--basic-white);
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    background-size: 1px 1em;
    box-shadow: inset 0 -1px var(--special-white-opacity);
} */

.navigation-list li:not(:last-child) {
    margin-right: 6px;
}

.subnavigation-list {
    display: none;
}

.personel-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 267px;
}

.search,
.login,
.cart {
    display: block;
    background-color: var(--special-white-opacity);
    border: none;
    height: 32px;
    text-align: center;
    padding-top: 8px;
}

.login,
.cart {
    color: var(--basic-white);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    min-width: 92px;
    border-radius: 20px;
    margin-left: 10px;
}

.search {
    width: 32px;
    border-radius: 50%;
}